*{
    margin:0;padding:0;box-sizing: border-box;


}
nav{
    display:flex;align-items:center;
    justify-content:space-between;
    background-color: rgb(190, 145, 219);
    height:100px;

}
.nav-ul{
    display:flex;align-items:center;
    list-style: none;
    
}
.nav-a{
    text-decoration: none;
    margin-right:14px;
    font-size:18px;
    color:#000000;
    
}
.nav-a:hover{
    border-bottom:2px solid white;
    background: #ffffff;
}
    
.logo{
    margin-left:14px;
    font-size:24px;
    color:darkred
}
.nav-menu-btn{
    display:none;
    font-size:18px;
    font-weight:500px;
    background:#000000;
    color:#ffffff;
    margin-right:14px;
    padding:8px 16px;
    border-radius: 8px;
}


@media (max-width:620px) {
    .nav-ul{
        display: none;
    }
    .nav-menu-btn{
        display:flex;
    }
    
    
    .showData{
        display: flex;
        flex-direction: column;
        width: 150px;
        position: absolute;
        top:100px;
        right:0px;
        background-color: #cfaeae;
        gap:20px;
        
        
        
        
        
    }
    
}
